# ignore all node modules
/node_modules

# ignore all firebase realted stuff
# firebase credentials for the firebase service
# get your own at https://console.firebase.google.com/
/src/firebase.json

# ignore builds
/builds
